body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__heading {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons__item--round:not(:first-child) {
  margin-left: 10px;
}

.icons__item--rectangle:not(:first-child) {
  margin-left: 30px;
}

.icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons__link--round {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.icons__link--rectangle {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}
.icons__link--round:hover, .icons__link--round:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.icons__link--rectangle:hover, .icons__link--rectangle:focus {
  color: #2196f3;
  border-color: #2196f3;
  background-color: #ffffff;
}
.icons__link--dark {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.icons__svg {
  fill: currentColor;
}

.button {
  display: inline-flex;
  align-items: center;
  min-height: 50px;
  min-width: 200px;
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.button__icon {
  margin-left: 10px;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo--white {
  color: #ffffff;
}

.logo__accent {
  color: #2196f3;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 93px;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--current {
  color: #2196f3;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__contact-list {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__contact-item:not(:first-child) {
  margin-left: 50px;
}

.header__contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-link:hover, .header__contact-link:focus {
  color: #2196f3;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: #ffffff;
  background-color: #2f303a;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__heading {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.features {
  padding-bottom: 0;
}

.features__list {
  display: flex;
}

.features__item:not(:first-child) {
  margin-left: 30px;
}

.features__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features__heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.activities__list {
  display: flex;
  justify-content: space-between;
}

.activities__link {
  position: relative;
}

.activities__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__item {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__heading {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__paragraph {
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
}

.footer__icon-wrapper {
  margin-left: 70px;
  padding-top: 12px;
}

.footer__paragraph {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__form {
  margin-left: 90px;
  padding-top: 12px;
}

.footer__input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  padding: 0 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input::-moz-placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:focus {
  outline: none;
  border-color: #2196f3;
}

.footer__button {
  margin-left: 12px;
}

.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}
.address__link--white {
  color: #ffffff;
}

.backdrope {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrope.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(2);
}

.modal {
  position: absolute;
  width: 530px;
  height: 580px;
  padding: 40px;
  background-color: #ffffff;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: #2196f3;
  outline: none;
}

.modal__icon {
  position: absolute;
  bottom: 20px;
  left: 12px;
  transform: translateY(50%);
  fill: #212121;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__text-wrap {
  margin-bottom: 20px;
}

.modal__text {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text:focus {
  outline: none;
  border-color: #2196f3;
}

.modal__checkbox-label {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.modal__custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: #ffffff;
}
.modal__checkbox:checked + .modal__custom-checkbox {
  background-color: #2196f3;
  background-position: center;
  border: #2196f3;
}

.modal__link {
  margin-left: 5px;
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__link:hover, .modal__link:focus {
  color: #188ce8;
}

.modal__send-button {
  display: block;
  margin: 0 auto;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}

.modal__iconx {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover .modal__iconx {
  fill: #2196f3;
}

.card {
  background: #fff;
  border-bottom: 1px solid #eee;
}

.card__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__overlay-paragraph {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover .card__overlay-paragraph, .card__link:focus .card__overlay-paragraph {
  transform: translateY(0);
  opacity: 1;
}

.card__descriptions {
  padding: 20px 24px;
  /* border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee; */
}

.card__heading {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card__paragraph {
  line-height: 1.88;
  color: #757575;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus, .filter__button--current {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__heading {
  display: none;
}

.portfolio__filter {
  margin-bottom: 50px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio__card {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}/*# sourceMappingURL=main.css.map */