.button {
  display: inline-flex;
  align-items: center;
  min-height: 50px;
  min-width: 200px;
  padding: 10px 30px;

  font-family: $primary-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: $white-color;

  background-color: $accent-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color $transion-values;

  &:hover,
  &:focus {
    background-color: $accent-dark-color;
  }
}

.button__icon {
  margin-left: 10px;
}
