.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;
  color: $white-color;

  background-color: $dark-bg-color;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $desktop-width) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__heading {
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: $desktop-width) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
