.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.customer__icons {
  row-gap: $item-gap;
  column-gap: $item-gap;
}

.icons__item--rectangle {
  height: 92px;
  flex-basis: calc((100% - #{$item-gap}) / 2);

  @include tablet {
    flex-basis: calc((100% - #{$item-gap} * 2) / 3);
  }

  @include desktop {
    flex-basis: calc((100% - #{$item-gap} * 5) / 6);
  }
}

.icons__item--round:not(:first-child) {
  margin-left: 10px;
}

.icons__link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $icon-light-color;

  transition: color $transion-values, background-color $transion-values;

  &--round {
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }

  &--rectangle {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid $icon-light-color;
  }

  &--round:hover,
  &--round:focus {
    color: $white-color;
    background-color: $accent-color;
  }

  &--rectangle:hover,
  &--rectangle:focus {
    color: $accent-color;
    border-color: $accent-color;
    background-color: $white-color;
  }

  &--dark {
    color: $white-color;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.icons__svg {
  fill: currentColor;
}
