.logo {
  display: block;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $logo-color;

  &--white {
    color: $white-color;
  }
}

.logo__accent {
  color: $accent-color;
}
