.social-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;

  @include tablet {
    display: none;
  }
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
