$primary-color: #212121;
$secondary-color: #757575;
$accent-color: #2196f3;
$accent-dark-color: #188ce8;
$logo-color: #000000;
$white-color: #ffffff;
$dark-bg-color: #2f303a;
$light-bg-color: #f5f4fa;
$item-gap: 30px;
$icon-light-color: #afb1b8;
$transion-values: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;
